<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/school
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>


        <!-- List of XML mapping files -->
        <mapping class = "pl.edu.wszib.school.website.model.User"/>
        <mapping class = "pl.edu.wszib.school.website.model.Grade"/>
        <mapping class = "pl.edu.wszib.school.website.model.Login"/>
        <mapping class = "pl.edu.wszib.school.website.model.Page"/>
        <mapping class = "pl.edu.wszib.school.website.model.Post"/>
        <mapping class = "pl.edu.wszib.school.website.model.Pupil"/>
        <mapping class = "pl.edu.wszib.school.website.model.Parent"/>
        <mapping class = "pl.edu.wszib.school.website.model.SchoolClass"/>
        <mapping class = "pl.edu.wszib.school.website.model.SchoolSubjects"/>
        <mapping class = "pl.edu.wszib.school.website.model.WebsiteInformations"/>
        <mapping class = "pl.edu.wszib.school.website.model.Comment"/>

    </session-factory>
</hibernate-configuration>