!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-box" th:fragment="Form(model)">
    <form id="updatePostForm" method="post" th:object="${model}">
        <div class="form-group">
            <label for="pass">Hasło</label>
            <input th:field="*{pass1}" type="text" class="form-control" id="pass" placeholder="Wpisz hasło" aria-label="Wpisz hasło">
        </div>
        <div class="form-group">
            <label for="pass">powtórz hasło</label>
            <input th:field="*{pass2}" type="text" class="form-control" id="pass" placeholder="Wpisz hasło" aria-label="Wpisz hasło">
        </div>
        <button type="submit" class="btn save">Zapisz</button>
    </form>
</div>

</body>
</html>