!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-box" th:fragment="Form(model,hash)">
    <form id="updatePostForm"  class="needs-validation" method="post" th:object="${model}">
        <div class="form-group">
            <label for="pass">Hasło</label>
            <input th:field="*{pass1}" type="text" class="form-control" id="pass" placeholder="Wpisz hasło" aria-label="Wpisz hasło" required>
        </div>
        <div class="form-group">
            <label for="pass2">powtórz hasło</label>
            <input th:field="*{pass2}" type="text" class="form-control" id="pass2" placeholder="Wpisz hasło" aria-label="Wpisz hasło" required>
        </div>
        <button type="submit" class="btn save">Zapisz</button>
    </form>
    <script>
         /*<![CDATA[*/
             var hashPass ='[[${hash}]]';
        /*]]>*/
    </script>
    <script src="/js/updatePass.js"></script>
</div>

</body>
</html>