!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <section class="post" th:fragment="post(post)">
        <div class="post-box">
            <h1 th:text="${post.title}}">Tytuł</h1>
            <h3 th:text="${post.author}}">autor postu</h3>
            <h5 th:text="${post.date}}">Data 17 Stycznia 2021 17:00</h5>
            <div class="content-post" th:text="${post.content}}">
                <h1>tytuł 1</h1>
                <p>tekst 1</p>
                <p>tekst 2</p>
            </div>
        </div>
    </section>


</body>
</html>