!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="form-box" th:fragment="form(sites)">
        <form>
            <div class="form-group">
                <label for="Title">Tytuł</label>
                <input type="text" class="form-control" id="Title" placeholder="Tytuł postu" aria-label="Wpisz tytuł postu">
            </div>
            <div class="form-group">
                <label for="page">Wybierz stronę</label>
                <select class="form-select form-select-lg mb-3" id="page" aria-label="Wybierz stronę postu">
                    <th:block th:each="site : ${sites}" >
                        <option th:value="${site.key}" th:text="${site.key}"></option>
                    </th:block>
                </select>
            </div>
            <div class="mb-3">
                <label for="textPost" class="form-label">Zawartość Postu</label>
                <textarea class="form-control" id="textPost"></textarea>
            </div>
            <button type="submit" class="btn save">Zapisz</button>
        </form>
    </div>

</body>
</html>