!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-box" th:fragment="createForm(model)">
    <form id="createTeacherForm" method="post" th:object="${model}">
        <div class="form-group">
            <label for="name">Imie</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Wpisz imie" aria-label="Wpisz imie" required>
            <label for="surname">Nazwisko</label>
            <input th:field="*{surname}" type="text" class="form-control" id="surname" placeholder="Wpisz nazwisko" aria-label="Wpisz nazwisko" required>
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input th:field="*{login}" type="text" class="form-control" id="login" placeholder="Wpisz login" aria-label="Wpisz login" required>
        </div>
        <div class="form-group">
            <label for="pass">Hasło</label>
            <input th:field="*{pass}" type="text" class="form-control" id="pass" placeholder="Wpisz hasło" aria-label="Wpisz hasło" required>
        </div>

        <button type="submit" class="btn save">Zapisz</button>
    </form>
</div>

<div class="form-box" th:fragment="updateForm(model,teachers)">
    <form id="updateTeacherForm" method="post" th:object="${model}">
        <div class="form-group">
            <label for="teacher">Wybierz nauczyciela do edycji</label>
            <select th:field="*{user_id}" class="form-select form-select-lg mb-3" id="teacher" aria-label="Wybierz nauczyciela" required>
                <option  value="0"> wybierz nauczyciela </option>
                <th:block th:each="teacher : ${teachers}" >
                    <option  th:value="${teacher.id}" th:text="${teacher.Name+' '+teacher.SurName}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Imie</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Wpisz imie" aria-label="Wpisz imie" required>
            <label for="surname">Nazwisko</label>
            <input th:field="*{surname}" type="text" class="form-control" id="surname" placeholder="Wpisz nazwisko" aria-label="Wpisz nazwisko" required>
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input th:field="*{login}" type="text" class="form-control" id="login" placeholder="Wpisz login" aria-label="Wpisz login" required>
        </div>
        <div class="form-group">
            <label for="pass">Hasło</label>
            <input th:field="*{pass}" type="text" class="form-control" id="pass" placeholder="Wpisz hasło" aria-label="Wpisz hasło" required>
        </div>
        <button type="submit" class="btn save">Zapisz</button>
    </form>
    <script src="/js/teacherForm.js" charset="utf-8"></script>
</div>

<div class="form-box" th:fragment="deleteForm(model,teachers)">
    <form id="deletePostForm" method="post" th:object="${model}">
        <div class="form-group">
            <label for="teacher">Wybierz nauczyciela do usunięcia</label>
            <select th:field="*{user_id}" class="form-select form-select-lg mb-3" id="teacher" aria-label="Wybierz nauczyciela" required>
                <option  value="0"> wybierz nauczyciela </option>
                <th:block th:each="teacher : ${teachers}" >
                    <option  th:value="${teacher.id}" th:text="${teacher.Name+' '+teacher.SurName}"></option>
                </th:block>
            </select>
        </div>

        <button type="submit" class="btn save">Usuń</button>
    </form>
</div>

</body>
</html>