!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-box" th:fragment="updateForm(model)">
    <form id="updateTeacherForm"  enctype="multipart/form-data" method="post" th:object="${model}">
        <div class="form-group">
            <label for="name">Nazwa strony</label>
            <input th:field="*{siteName}" type="text" class="form-control" id="name" placeholder="Wpisz imie" aria-label="Wpisz imie" required>
        </div>
        <div class="form-group">
            <label>Telefony</label>
            <th:block th:each="tel,itemStat: *{telephons}">
                <input th:value="${tel}" th:field="*{telephons[__${itemStat.index}__]}" type="text" class="form-control" placeholder="Wpisz telefon" aria-label="Wpisz telefon" required>

            </th:block>
        </div>
        <div class="form-group">
            <label>Maile</label>
            <th:block th:each="email,itemStat: *{emails}">
                <input th:value="${email}" th:field="*{emails[__${itemStat.index}__]}" type="text" class="form-control" placeholder="Wpisz email" aria-label="Wpisz email" required>

            </th:block>
        </div>
        <div class="form-group">
            <label class="form-label" for="logo">Wybierz plik logo</label>
            <input name="logoFile" type="file" accept=".jpg,.svg,.png" class="form-control" id="logo"  multiple="multiple"/>
        </div>
        <button type="submit" class="btn save">Zapisz</button>
    </form>
</div>

</body>
</html>